@model WebApp.Models.ViewModel.VMExhibitionRoom;
@{
    var ExhibitionRooms = Model.ExhibitionRooms; 
    var Museums = Model.Museums; 

}

<div class="row">
    <div class="col-lg-12">
        <div class=" row page-titles shadow-lg mx-0">
            @*<div class="col-sm-1 p-md-0">
                <a href="#" onclick="history.back()"> <i class="mdi mdi-arrow-left-bold-circle-outline" style="font-size: 3em;color:#230c4e;"></i></a>
            </div>*@
            <div class="col-sm-6 p-md-0">
                <h3 style="color:#673BB7;">Phòng trưng bày</h3>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-controller="ExhibitionRoom" asp-action="Index">Danh sách</a></li>
                </ol>
            </div>
        </div>
        @if(TempData["success"] != null)
        {
            <div class="alert mb-3 alert-primary solid alert-right-icon alert-dismissible fade show">
                <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                </button>
                <strong>@TempData["success"]</strong>
            </div>  
        }
        @if(TempData["Id_Exh"] != null)
        {
            <input id="checkExh" hidden="hidden" value="@TempData["Id_Exh"]">
            <input id="idExh" hidden="hidden" value="@TempData["Id"]">
        }
        @if(TempData["Error"] != null)
        {
            <div class="alert mb-3 alert-danger solid alert-dismissible fade show">
                <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                </button>
                <strong>@TempData["Error"]</strong>
            </div>   
        }
       
        <div class="row">
            <div class="col-lg-12">
                <div id="accordion-nine" class="accordion accordion-active-header shadow-lg">
                    <div class="accordion__item">
                        <div class="accordion__header" data-toggle="collapse" data-target="#active-header_collapseOne">
                            <span class="accordion__header--icon"></span>
                            <h4 class="accordion__header--text" style="color:#673BB7;">Thêm phòng trưng bày</h4>
                            <span class="accordion__header--indicator"></span>
                        </div>
                    </div>
                    <div id="active-header_collapseOne" class="collapse accordion__body show" data-parent="#accordion-nine">
                        <form asp-controller="ExhibitionRoom" asp-action="Create" enctype="multipart/form-data">
                            <div class="accordion__body--text"> 
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label class="textColor">Tên phòng trưng bày</label>
                                        <input  class="form-control" asp-for="@Model.ExhibitionRoom.NameRoom" placeholder="Phòng trưng bày" >                  
                                    </div>
                                    <span class="mt-2 mb-2 ml-2" asp-validation-for="@Model.ExhibitionRoom.NameRoom" style="color:red"></span>
                                </div> 
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label class="textColor">Ngày</label>
                                        <input type="date" asp-for="@Model.ExhibitionRoom.Date"  class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="textColor" asp-for="@Model.ExhibitionRoom.Museum"></label>
                                        <select class="form-control" asp-for="@Model.ExhibitionRoom.MuseumId">
                                            <option>--- Chọn bảo tàng ---</option>
                                            @foreach (var item in Museums)
                                            {
                                               <option value="@item.Id">@item.MuseumName</option> 
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label class="textColor">File ảnh</label>
                                        <input class="form-control" name="File"   type="file" accept=".jpeg,.png,.gif,.tiff,.psd,.svg,.heic,.raw" >
                                    </div>
                                    <div class="col-md-6">
                                        <label class="textColor">File 3D phòng</label>
                                        <input class="form-control" name="File3D" type="file" accept=".gltf,.glb" >
                                    </div>
                                </div>  
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <div class="card-body">
                                            <label class="textColor">Mô tả</label>
                                            <textarea asp-for="@Model.ExhibitionRoom.Description"  class="summernote" placeholder="Nhập nội dung mô tả ...."></textarea>
                                        </div>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-lg-5"></div>
                                    <div class="col">
                                        <button type="submit" style="width:200px;height:50px;font-size: 20px;" class="btn  btn-primary">Thêm</button>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap row mt-3 ml-2">
            @foreach (var item in ExhibitionRooms)
            {
               <div class=" ml-2 card shadow-lg ">
                   <div class="row ml-2">
                       <div class="col-lg-12 d-flex flex-row-reverse">
                            <div class=" dropdown dropdown-action">
                                <a href="#"  style="color: black;font-size: 30px;" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></a>
                                <div class="dropdown-menu dropdown-menu-center">
                                    <form asp-controller="ExhibitionRoom" asp-action="Edit" asp-route-id="@item.Id">
                                        <button class="btn btn-success w-85 ml-3 mt-2 "><i class="fa fa-pencil m-r-5"></i> Sửa thông tin</button>
                                    </form>                          
                                    <a class="btn btn-info w-85 mt-2 ml-3" asp-controller="Editor" asp-action="EditRoom" asp-route-id="@item.Id" style="cursor: pointer;"><i class="fa fa-pencil m-r-5"></i> Sửa chi tiết 3D</a>
                                    <button class="btn btn-danger w-85 mt-2 ml-3" data-toggle="modal" data-target="#delete-test"><i class="fa fa-trash-o m-r-5"></i> Xóa</button>
                                </div>
                                 <!-- START MODEL DELETE PHÒNG TRƯNG BÀY-->
                                    <div class="w-50 d-flex justify-content-end">
                                        <div class="modal fade" id="delete-test" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered justify-content-center w-auto">
                                                <form asp-controller="ExhibitionRoom" asp-action="Delete" asp-route-id="@item.Id">
                                                    <div class="modal-content p-3" style="width: auto;">
                                                        <div class="flex-row d-flex justify-content-center mb-2">
                                                           <img src="~/Images/xoa.png" height="100" width="100">
                                                        </div>
                                                         <div class="flex-row d-flex justify-content-center mb-2">
                                                           <h3 style="color:#636363;">Bạn có chắc chắn muốn xóa?</h3>
                                                        </div>
                                                        <div class="flex-row d-flex justify-content-center mb-2">
                                                           <p style="color:#918a8a;">Nếu bạn bấm vào nút xóa thì sẽ xóa căn phòng này.</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-end my-0 mt-3 ">
                                                            <div class="w-100 d-flex">
                                                                <input type="submit" class="btn btn-secondary w-40 text-white ml-4" data-dismiss="modal" value="Đóng">
                                                                <input type="submit"  name="btn" class="btn btn-danger w-40 ml-2" value="Xóa" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                  @* END MODAL  *@
                            </div>
                       </div>
                   </div>
                    <a asp-controller="ExhibitionRoom" asp-action="Detail" asp-route-id="@item.Id">
                        <div class="row ml-2 mr-2">
                            <div class="col-lg-10">
                                <img src="~/Images/@item.Image" height="150" width="300">
                            </div>
                        </div>
                        <div class="row mt-3 mb-1">
                            <div class=" col text-center">
                                <h4  style="color:#673BB7;">
                                    @item.NameRoom
                                </h4>
                            </div>
                        </div>
                    </a>
                </div>              
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var checkExh = $('#checkExh').val();
    var idExh = $('#idExh').val();
    if (checkExh == "1") {
        const request = indexedDB.open("threejs-editor");
	    request.onsuccess = function ( event ) 
        {
            const database = event.target.result;
            const transaction = database.transaction( [ 'states'  ], 'readwrite' );
	        const objectStore = transaction.objectStore('states' );
	        const request = objectStore.get(idExh);
	        request.onsuccess = function ( event ) {
                const request = objectStore.delete(idExh);
                request.onsuccess = function(event) {
                    console.log("thanh cong")
                }
	        };
	    };
    }
</script>