@model WebApp.Models.Artifact
@{
}
<div class="row">
    <div class="col-lg-12">
        <div class="row page-titles shadow-lg mx-0">
            <div class="col-sm-6 p-md-0">
                <div style="display:flex;">
                    <h3> Thêm hiện vật</h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Artifact" asp-action="Index">Hiện vật</a></li>
                    <li class="breadcrumb-item active"><a asp-controller="Artifact" asp-action="Create">Thêm</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card shadow-lg">
            <div class="card-content m-2">
                <form asp-action="AddArtifact" enctype="multipart/form-data">
                   <h2 class="text-center mt-2 ">Thông tin hiện vật</h2>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <span asp-validation-for="@Model" style="color:red"></span>
                        </div>
                    </div>
                   <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="textColor" asp-for="@Model.NameArtifact"></label>
                            <input class="form-control" asp-for="@Model.NameArtifact" placeholder="Tên hiện vật" required>
                        </div>
                    </div>
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="textColor">Bảo tàng</label>
                            <select class="form-control" asp-for="@Model.Museum" required>
                                <option>--- Chọn bảo tàng ---</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="textColor" asp-for="@Model.TypeOfArtifact"></label>
                             <select class="form-control" asp-for="@Model.TypeOfArtifact" required>
                                <option>--- Chọn loại hiện vật ---</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="textColor" asp-for="@Model.Image"></label>
                            <input class="form-control" name="FileAnh"  asp-for="@Model.Image" type="file" accept=".jpeg,.png,.gif,.tiff,.psd,.svg,.heic,.raw" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.File3D" ></label>
                            <input class="form-control" asp-for="@Model.File3D" name="File3D" type="file" accept=".gltf,.glb" required>
                        </div>
                    </div>
                     <div class="form-row">
                        <div class="col-lg-12">
                            <label class="textColor" asp-for="@Model.Description"></label>
                            <textarea asp-for="@Model.Description" class="summernote textColor"></textarea>
                        </div>
                    </div>
                      <div class="row">
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-primary mt-5 mb-5 w-15">Thêm hiện vật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

